<span class="text-muted">
    <h1 class="text-center">About</h1>
    <br>
    <h4>What is Cesspool Bikes?</h4>
    <p>
    Cesspool Bikes is a bike sharing program meant to be set up among a group of friends living near each other (like on a college campus). The idea is simple: some people have bikes but are not constantly using them, others would like to use those bikes from time to time. Why not share? This website is meant to ease that process by providing users with a neat visual interface to borrow and return bikes.
    </p>
    <br><br>

    <h4>Why would people willingly share bikes?</h4>
    <p>
    This program was made for a very close friend group who trust each other. That being said, there is no reason this could not be applicable to other groups. By providing simple incentives to bike owners and asking for a usage fee from bike borrowers, this program could become a viable business, safe for both the owners and borrowers.
    </p>
    <br><br>

    <h4>Contact</h4>
    <p>
    For questions please email us at: <a href="mailto:contact@cesspoolbikes.com">contact@cesspoolbikes.com</a>
</span>